.Header {
  background-color: black;
  color: white;

  display: grid;
  grid-template-columns: 1fr 4fr 2.5fr 1fr 0.25fr 0.25fr;

  grid-template-rows: 100%;
  align-items: center;
  font-family: "Overpass", sans-serif;
}
.logo {
  margin-left: 2vw;
  width: 7vw;
}
.outsideLogo {
  width: 1.5vw;
}
.contact p {
  font-size: 11px;
}
